.form {
  display: flex;
  justify-content: center;

  gap: 0.5rem;
  margin-top: -1.688rem;
}

.form input {
  background: var(--gray-500);
  color: var(--gray-300);

  width: 39.875rem;
  height: 3.375rem;

  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 1rem;

  outline: none;
  caret-color: var(--gray-300);
}

.form input:focus {
  color: var(--gray-100);

  border: none;

  caret-color: var(--gray-100);
}

.form input::placeholder {
  color: var(--gray-300);
}

.form button[type=submit] {
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--blue-dark);
  color: var(--gray-100);

  gap: 0.5rem;

  padding: 1rem;
  border-radius: 0.5rem;

  cursor: pointer;
  transition: 0.1s;
}

.form button[type=submit]:not(:disabled):hover {
  background: var(--blue);
}

.form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
